<mat-sidenav-container class="sidebar-container" mode="side">
    <mat-sidenav #sidenav class="sidebar-sidenav">
      <search></search>
      <button mat-button>Security <mat-icon>lock</mat-icon></button>
    </mat-sidenav>
    <div class="sidebar-container">
      <mat-toolbar color="blue"> 
          <button type="button" mat-button (click)="sidenav.open()">Menu</button>

          <span color="light green">Eagle Software - Security Manager</span>
      </mat-toolbar>
      <app-tab-header></app-tab-header>
    </div>
</mat-sidenav-container>