<mat-toolbar color="primary">
  <span>Security Manager</span>
  <span class="example-spacer"></span>
  <button mat-button [matMenuTriggerFor]="appMenu"><mat-icon>menu</mat-icon> Menu</button>
</mat-toolbar>

<mat-menu #appMenu="matMenu">
  <button mat-menu-item>{{ Sidebar }} Sidebar </button>
</mat-menu>

<mat-expansion-panel *ngFor="let data of myData; let i = index">
  <mat-expansion-panel-header>
      Name: {{ data.name }} - Groups: {{ data.groups}}
    </mat-expansion-panel-header>
    <button mat-button><mat-icon>settings</mat-icon> Options</button>
</mat-expansion-panel>