<mat-expansion-panel *ngFor="let user of users; let i = index">
    <mat-expansion-panel-header>
        User Name: {{ user.name }} <br>
        Groups: {{ user.groups}}
    </mat-expansion-panel-header>
        User Id: {{user.id}} <br>
        Email: {{user.email }} <br>
        Permissions: I will eventually find a way to dynamically fill this.
        <br><br>
        <span>
            <button mat-button>Edit <mat-icon>mode_edit</mat-icon></button>
            <deactivation-dialog></deactivation-dialog>
        </span>
        <!--<button mat-button (click)="openDialog()">Deactivate User <mat-icon>delete</mat-icon></button>-->
</mat-expansion-panel>