<mat-expansion-panel *ngFor="let group of groups">
    <mat-expansion-panel-header>
        {{ group.name }} <br>
        <!-- Groups: {{ group.groups}} -->
    </mat-expansion-panel-header>
        Group Id: {{group.id}} <br>
        Permissions: {{group.permissions }}
        <br><br>
        <span>
            <button mat-button>Edit <mat-icon>mode_edit</mat-icon></button>
            <button mat-button (click)="openDialog()">Deactivate group <mat-icon>delete</mat-icon></button>
        </span>
</mat-expansion-panel>