<mat-card>
    <mat-tab-group [(selectedIndex)]="selectedTabIndex">
        <mat-tab label="Users">
            <div>
                <app-user-cluster></app-user-cluster>
            </div>
        </mat-tab>
        <mat-tab label="Groups">
            <div *ngIf="selectedTabIndex == 1">
                <app-group-cluster></app-group-cluster>
            </div>
        </mat-tab>
        <mat-tab label="Permissions"></mat-tab>
            <div *ngIf="selectedIndex == 2">
            </div>
    </mat-tab-group>
</mat-card>